.Footer_container {
    width: 100%;
    min-height: 200px;
    background-color: #202020;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 0 15px;
}

.Footer_text_container {
    width: 75%;
    display: flex;
    margin-bottom: 50px;
}

.Footer_text_container h3 {
    color: white;
}

.Footer_text {
    margin-top: 20px;
    width: 70%;
}

p {
    color: white;
}

.Footer_contact {
    margin: 0 0 15px;
}

.Footer_contact_container {
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
}

.Footer_contact_icon {
    min-width: 25px;
}

@media screen and (max-width: 768px) {
    .Footer_text_container {
        width: 90%;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .Footer_text {
        width: 100%;
    }

    .Footer_contact {
        margin-top: 30px;
    }

    .Footer_contact_icon {
        width: 30px;
    }
  }