.question_container {
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.question_the_question {
    margin: 50px 0 80px 0;
}

.question_response_field {
    width: 80%;
    height: 400px;
    padding: 15px;
    margin-bottom: 50px;
}

.question_button {
    padding: 3px 10px;
}

.question_loading {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.question_result_container {
    margin: 20px
}

.question_each_result_container {
    margin: 50px;
}

.question_question {
    margin-bottom: 20px;
}

.question_response {
    margin-bottom: 50px;
}

.question_result {
    color: #28B463;
}

.question_comment {
    color: orange;
}