.CreateExamOptions_input {
  width: 350px;
  padding: 5px;
  margin-top: 10px;
  border: 1px solid grey;
  border-radius: 5px;
}

@media screen and (max-width: 768px) {
  .CreateExamOptions_input {
    width: 90%;
  }
}
