.main_container {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px 0;
}

.main_explication_text {
  width: 80%;
  margin-bottom: 30px;
  color: black;
}

.main_field {
  width: 80%;
  padding: 15px;
  min-height: 300px;
}

.main_split_trait {
  width: 40%;
  margin: 30px;
}

.main_pdf_upload {
  padding: 3px 10px;
  background-color: #F1C40F;
  color: white;
  cursor: pointer;
}

.main_pdf_uploaded {
  padding: 3px 10px;
  background-color: #2ECC71;
  color: white;
  cursor: pointer;
}

.main_choose_difficulty_container {
  margin: 150px 0 20px 0;
}

.main_button_create {
  padding: 3px 10px;
}

.main_lesson_error {
  color: red;
}

.main_loading {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main_loading_text {
  color: grey;
  font-size: 25px;
  margin-top: 50px;
}

@media screen and (max-width: 768px) {
  .main_choose_difficulty_container {
    margin: 50px 20px;
  }
}
