main {
    background-color: #F3F4F6;
}

.drafting_loading {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .drafting_loading_text {
    color: grey;
    font-size: 25px;
    margin-top: 50px;
  }

.drafting_modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.drafting_modal_content {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    width: 80%;
    max-width: 400px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.drafting_modal_content p {
    color: black;
}

.drafting_modal_buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.drafting_modal_buttons button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    outline: none;
    transition: background-color 0.3s;
}

.drafting_modal_buttons button:hover {
    opacity: 0.9;
}

.drafting_modal_buttons button:first-child {
    background-color: #f44336;
    color: white;
    margin-right: 10px;
}

.drafting_modal_buttons button:last-child {
    background-color: #979A9A;
    color: white;
}

.drafting_container {
    padding: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.drafting_title {
    width: 65%;
    text-align: center;
    font-size: 1.9em;
}

.drafting_first_option_title {
    margin-top: 50px;
    color: black;
}

.drafting_option {
    padding: 5px 22px 5px 10px;
    border: 1px solid #34495E;
    border-radius: 3px;
    font-size: 0.9rem;
    appearance: none;
    background-color: white;
    cursor: pointer;
    outline: none;
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 4 5"><path fill="%2334495E" d="M2 3L0 0h4"/></svg>');
    background-repeat: no-repeat;
    background-position: right 5px center;
    margin: 5px 0 30px;
}

.drafting_option:focus {
    border-color: #2C3E50;
}

.drafting_option option {
    padding: 4px;
    background-color: #FAFAFA;
    font-size: 0.9rem;
}

.drafting_option option:hover {
    background-color: #E0E0E0;
}
 
.drafting_field {
    width: 55%;
    min-height: 400px;
    padding: 15px;
  }

.drafting_pdf_upload, .drafting_pdf_uploaded {
    width: 55%;
    min-height: 400px;
    padding: 12px 24px;
    border: 1px solid;
    border-radius: 4px;
    background-color: #FFFFFF;
    color: #34495E;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.2s, color 0.2s;
    display: flex;
    align-items: center;
    justify-content: center;
  }

.drafting_pdf_upload:hover {
    background-color: #ECF0F1;
  }

.drafting_pdf_uploaded {
    background-color: #4CAF50;
    border-color: #388E3C;
  }

.drafting_pdf_uploaded:hover {
    background-color: #388E3C;
  }

.drafting_pdf_icon {
    width: 40px;
    height: auto;
    margin-right: 8px;
  }

.drafting_file_input {
    display: none;
  }


.drafting_button_create_close {
    width: 110px;
    padding: 10px 10px;
    margin-top: 30px;
    border-radius: 5px;
    border: none;
    background-color: #E54C18;
    color: white;
    opacity: 0.5;
  }

.drafting_button_create {
    width: 110px;
    padding: 10px 10px;
    margin-top: 30px;
    border-radius: 5px;
    border: none;
    background-color: #E54C18;
    color: white;
    cursor: pointer;
  }

.drafting_lesson_error {
    margin-bottom: 10px;
    color: red;
  }

@media screen and (max-width: 600px) {

    .drafting_container {
        padding: 50px 20px;
    }

    .drafting_field {
        width: 100%;
    }

    .drafting_pdf_upload, .drafting_pdf_uploaded {
        width: 100%;
    }

    .drafting_title {
        width: 100%;
    }
  }