.photo-gallery {
  width: 100px;
  max-height: 260px;
  flex-grow: 1;
}

@media screen and (max-width: 768px) {
  .photo-gallery {
    width: 70%;
    max-height: 450px;
    flex-grow: 0;
  }

  .ResponsiveImage_small {
    width: 15%;
    max-height: 450px;
  }
}
