.header_container {
    width: 100%;
    min-height: 500px;
    background-color: #001C36;
    color: white;
}

.header_container h1 {
    text-align: center;
    padding-top: 50px;
    margin-bottom: 50px;
}

.header_texts_and_image_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.header_move_subtitle_container {
    margin: 80px 0 0 100px;
}

// .image-wrapper {
//     position: relative;
//     display: inline-block;
// }

// .image-wrapper::before {
//     content: "";
//     position: absolute;
//     width: calc(100%);
//     height: calc(100%);
//     background-color: #1F355E;
//     z-index: -1;
//     top: 30px;
//     left: 30px;
// }

// .header_image {
//     display: block;
// }

@media screen and (max-width: 768px) {
    .header_title_container{
        margin: 0 30px;
    }

    .header_move_subtitle_container {
        margin: 50px 0
    }

    .header_image {
        margin-bottom: 25px;
    }
}