.result_container {
  background-color: #F3F4F6;
}

.result_title {
    padding-top: 50px;
    text-align: center;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.result_corrections_container {
    width: 65%;
}

section.result_corrections_container > div:first-child {
    margin: 50px 0 0;
}

.result_each_result_container {
    margin: 100px 0;
}

.result_question {
    margin-bottom: 20px;
}

.result_response {
    margin-bottom: 20px;
    color: black;
}

.result_correction {
    color: #28B463;
}

.result_comment_title {
    color: orange;
    margin-bottom: 20px;
}

.result_comment {
    color: orange;
}

.result_not_show {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.result_not_show_text {
    color: grey;
    font-size: 25px;
    margin-top: 50px;
}

.result_grade {
    margin-top: 50px;
    font-size: 27px;
}

.result_grade_red {
    color: red;
}

.result_grade_orange {
    color: orange;
}

.result_grade_green {
    color: #28B463;
}

.result_separate_correction_and_comment {
    width: 70%;
}

.result_comment_grade_container {
    width: 65%;
    margin: 50px 0;
}

@media screen and (max-width: 600px) {

    .result_corrections_container {
        width: 90%;
    }

    .result_each_result_container {
        margin: 80px 0;
    }

    .result_response {
        margin-bottom: 20px;
    }

    .result_comment_grade_container {
        width: 90%;
        margin: 30px 0;
    }
}